p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding-top: 80px;
  padding-left: 200px;
  padding-right: 30px;
  font-family: Roboto, Arial;
}
.buttons {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}
.btn-all {
  border: none;
  height: 30px;
  font-size: 15px;
  font-weight: 550;

  border-radius: 5px;
  cursor: pointer;
}
